/* RESET */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

*::selection {
    background: $aeViolet;
    color: $aeWhite;
}

img::selection {
    background: none;
    color: none;
}

@font-face {
    font-family: "Aguselielstudiofont";
    src: url(../font/Aguselielstudiofont.ttf) format("truetype");
    font-display: "Aguselielstudiofont";
}

body {
    font-family: "Roboto", "Playfair Display", serif, "Aguselielstudiofont";
}
html {
    scroll-behavior: smooth;
}

.noise::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: 0.03;
    z-index: 1000;
    pointer-events: none;
    background: url(../images/noise.gif);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
