/* CONTACT ME */

.section__contactme {
    display: grid;
    width: 100%;
    height: 100vh;
    background-color: #131313;
    color: #ffebd4;
    padding: 50px;
    grid-template-columns: 1fr 1.1fr;
    align-items: center;
  }
  
  .section__contactme__location {
    display: flex;
    font-size: 40px;
    align-items: center;
    width: 550px;
    height: 100%;
  }
  
  .location__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
  }
  
  .content__location {
    display: flex;
    width: 550;
  }
  
  .fa-location-dot {
    padding-right: 20px;
  }
  
  .fa-envelope {
    padding-right: 20px;
  }
  
  .content__mail {
    display: flex;
    width: 550;
    align-content: center;
    align-items: center;
  }
  
  .section__mail {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    align-content: center;
    justify-items: center;
    background-color: #1f1f1f;
    border-radius: 24px;
    height: 60vh;
    padding: 30px;
  }
  
  .section__mail__text {
    font-size: 2.5rem;
  }
  
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    box-sizing: content-box;
    font-weight: 600;
  }
  
  #name {
    width: 100%;
    height: 40px;
    color: #131313;
    border-radius: 8px;
    background-color: #ffebd4;
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    outline: none;
  }
  #mail {
    width: 100%;
    height: 40px;
    color: #131313;
    border-radius: 8px;
    background-color: #ffebd4;
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    outline: none;
  }
  #phone {
    width: 100%;
    height: 40px;
    color: #131313;
    border-radius: 8px;
    background-color: #ffebd4;
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    outline: none;
  }
  
  #message {
    width: 100%;
    height: 100px;
    color: #131313;
    border-radius: 8px;
    background-color: #ffebd4;
    padding: 10px;
    margin: 10px;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    resize: none;
  }
  
  @media (max-width: 768px) {
    .section__contactme {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      align-items: center;
    }
    .section__mail {
      width: 100%;
      background-color: #131313;
      justify-content: center;
      padding: 0;
    }
  
    .form {
      width: 100%;
    }
  
    .city {
      font-size: 5vw;
    }
  
    .mailp {
      font-size: 5vw;
    }
  }