/* PROJECTS */
.contentProjects {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #131313;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__text {
        color: #ffebd412;
        text-decoration: none;
        font-size: 40px;
        font-weight: 400;
        overflow: hidden;
        &__title {
            color: #7f5af0;
            letter-spacing: 0.1px;
            font-size: 100px;
            font-weight: 600;
        }
    }
}

.contentProjects__wrap {
    color: $aeGrey;
    justify-content: left;
    &:hover {
        border-bottom: solid 1px $aeGrey;
    }

    &__alert {
        display: block;
        position: absolute;
        color: $aeGrey;
        font-size: 15px;
        bottom: 170px;
    }
}

@media (max-width: 490px) {
    .contentProjects__text {
        margin: auto;
        font-size: 10vw;
        &__title {
            font-size: 15vw;
        }
    }
}
