/* RESET */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  *::selection {
    background: $aeViolet;
    color: $aeWhite;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  @font-face {
    font-family: "Aguselielstudiofont";
    src: url(../font/Aguselielstudiofont.ttf) format("truetype");
  }
  
  body {
    font-family: "Roboto", "Playfair Display", serif, "Aguselielstudiofont";
  }
  
  a {
    text-decoration: none;
  }

  ul{
    list-style: none;
  }