/* COLORS */
$aeViolet: #7f5af0;
$aeBlack: #131313;
$aeWhite: #ffebd4;
$aeGreen: #2CB67D;
$aeRed: #EA392C;

/* scrollbar */
body::-webkit-scrollbar {
    width: 0.7rem;
  }
  body::-webkit-scrollbar-track {
    background: #131313;
  }
  body::-webkit-scrollbar-thumb {
    background: #ffebd4;
  }
  body::-webkit-scrollbar-thumb:hover {
    background: #7f5af0;
  }