/* COLORS */
$aeViolet: #7f5af0;
$aeBlack: #131313;
$aeWhite: #ffebd4;
$aeGreen: #2cb67d;
$aeRed: #ea392c;
$aeGrey: #f1efed;

/* scrollbar */
body::-webkit-scrollbar {
    width: 0.7rem;
}
body::-webkit-scrollbar-track {
    background: #131313;
}
body::-webkit-scrollbar-thumb {
    background: $aeGrey;
}
body::-webkit-scrollbar-thumb:hover {
    background: #7f5af0;
}
