.contentmain {
    display: flex;
    width: 100%;
    height: auto;
    background-color: $aeBlack;
    flex-direction: column;
    align-items: center;
    margin: auto;
    &__titlebox {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $aeGrey;
        margin-top: 90px;
        &__title {
            display: flex;
            justify-content: center;
            width: 80%;
            font-size: 100px;
            border-bottom: solid 1px $aeGrey;
        }
    }
    &__questionbox {
        display: flex;
        width: 80%;
        flex-direction: column;
        transition: 350ms;
        margin-bottom: 100px;
        &__container {
            width: 100%;
            color: $aeGrey;
            text-decoration: none;
            cursor: pointer;
            padding: 20px;
            border-bottom: solid 1px $aeGrey;
            transition: all 0.4s ease-in-out;
            overflow: hidden;
            &::selection {
                background: none;
                color: none;
            }
            &:hover {
                background-color: #1f1f1f;
            }
        }
        &__question {
            display: flex;
            font-size: 25px;
            justify-content: space-between;
            &::selection {
                background: none;
                color: none;
            }
        }
        &__answer {
            font-size: 20px;
            cursor: text;
            margin-top: 10px;
            color: $aeGrey;
        }
    }
}

@media (max-width: 912px) {
    .contentmain__titlebox__title {
        font-size: 10vw;
    }
    .contentmain__questionbox__container {
        padding: 10px;
    }
    .contentmain__questionbox__question {
        margin: auto;
    }
}
